/*  your css code here. If applicable */
<style>
    table {
      border-collapse: collapse;
      background-color: yellow;
    }
    table, th, td {
      border: 1px solid black;
    }
    th {
      font-weight: bold;
    }
  </style